{{ $data := index site.Data site.Language.Lang }}

{{ with $data.homepage.success_story }}
<section class="section bg-cover" data-background="{{ .bg_image | absURL }}">
  <div class="container">
    
    <div class="col-lg-6 col-sm-4 ">
        <div class="bg-white p-5">
          <h2 class="section-title">{{ .title | markdownify }}</h2>
          <p>        
                       
            
    <li><a href="http://www.instagram.com/jylcontadoras"><img src='https://raw.githubusercontent.com/chelol/jyl/master/images/instagram.png' /></a></li>
    <li><a href="http://www.facebook.com/jylcontadoras"><img src='https://raw.githubusercontent.com/chelol/jyl/master/images/facebook.png' /></a></li>
    <li><a href="http://www.linkedin.com/jylcontadoras"><img src='https://raw.githubusercontent.com/chelol/jyl/master/images/linkedin.png' /></a></li>
    <li><a href="https://wa.me/59899110539"><img src='https://raw.githubusercontent.com/chelol/jyl/master/images/whatsapp.png' /></a></li>
    <li><a href="https://wa.me/59899710671"><img src='https://raw.githubusercontent.com/chelol/jyl/master/images/whatsapp.png' /></a></li>
  
          
          </p>
        </div>
         
      
    </div>
  </div>  
  
</section>
{{ end }}
