{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
    
        <b>Archivos para descargar:</b>
      <p>  <a href="https://github.com/chelol/jyl/blob/828612eaabae7dfa4ef6cc610f4650a8b87f1eb9/Planilla-Ingresos-y-egresos.xlsx?raw=true">Planilla de Ingresos y Egresos</a>

        </p>
        
      </div>
    </div>
  </div>
</section>
<!-- /about -->





{{ end }}
