{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
    
        <b>Archivos para descargar:</b>
      <p>  <a href="https://github.com/chelol/jyl/blob/828612eaabae7dfa4ef6cc610f4650a8b87f1eb9/Planilla-Ingresos-y-egresos.xlsx?raw=true">Planilla de Ingresos y Egresos</a>
      <p>  <a href="https://github.com/chelol/jyl/blob/master/Plantilla-punto-de-equilibrio-excel.xlsx?raw=true">Plantilla Punto de Equilibrio</a>
      <p>  <a href="https://github.com/chelol/jyl/raw/master/Nota-para-BPS-dias-de-licencia-por-paternidad.docx">Nota para BPS dias de licencia por paternidad</a>
      <p>  <a href="https://github.com/chelol/jyl/raw/master/guia-para-importaciones-simplificadas.pdf">Guia para importaciones simplificadas</a>
      <p>  <a href="https://github.com/chelol/jyl/raw/master/form_3100v03.pdf">Formulario 3100 DGI</a>

        
        </p>
        
      </div>
    </div>
  </div>
</section>
<!-- /about -->





{{ end }}
