{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
    
        <b>Archivos para descargar:</b>
        <a href="https://github.com/chelol/jyl/blob/d7766d1954e044cd41064e4581126af690399725/layouts/emprendedores/Planilla-Ingresos-y-egresos.xlsx?raw=true">Planilla de Ingresos y Egresos</a>

        
        
      </div>
    </div>
  </div>
</section>
<!-- /about -->





{{ end }}
